footer {
    background: $dark-grey;   
    padding: 25px 22px; 
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer li {
    padding: 0 0 7px 0;
}

footer .external a{
    font-weight: 500;
}

footer .logo {
    display: block;
    margin-bottom: 18px;
    width: 137px;
}

@media screen and (min-width: 769px) {
    footer {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: end;
        padding: 60px 25px 30px 25px;
    }

    footer ul {
        display: flex;
    }

    footer .external {
        margin-right: 20px;
        margin-left: auto;
    }

    footer li {
        padding: 0 7px 0 0;
    }

    footer .logo {
        order: 3;
        margin-left: 36px;
        margin-bottom: 0;
    }
}