.button {
    color: white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    padding: 16px 50px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 25px;
    display: block;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50px;
        background: white;
        opacity: 0;
        transition: opacity .250s linear;
    }

    &:hover {
        &::after {
            opacity: .2;
        }
    }


}